@model IEnumerable<PostViewModel>

@{
  ViewBag.Title = "Index";
}

<h2>Post Index</h2>
@if (Model!=null)
{
  foreach (var post in @Model)
  {
  <div>
    <p>Title : @post.Title</p>
    <p>Details: @post.Details</p>
    <p>@Html.ActionLink("Details", "Detail", new { id = post.Id })&nbsp; @Html.ActionLink("Remove", "Delete", new { id = post.Id })
    </p>
  </div>
  <hr/>
  }
}

